#include "muduo/net/EventLoop.h"

#include "node/system/node/node_entry.h"

#include "handler/rpc/your_node_handler.h"
#include "proto/contracts/kafka/your_node_command.pb.h"

using namespace muduo;
using namespace muduo::net;

namespace {

struct YourNodeHooks {
    using KafkaCommandType = contracts::kafka::YourNodeCommand;
};

struct YourNodeContext {};

} // namespace

int main(int argc, char* argv[])
{
    return node::entry::RunSimpleNodeMainWithOwnedContext<YourNodeHandler, YourNodeContext, YourNodeHooks>(
        YourNodeService,
        Node::CanConnectNodeTypeList{ /* SceneNodeService, LoginNodeService, ... */ },
        [](Node& node, YourNodeContext&) {
            // Optional: node lifecycle callbacks.
            node.SetAfterStart([](Node& n) {
                // (void)n;
            });
        });
}
