syntax = "proto3";

option go_package = "pb/game";

enum {{ group_name }} {

  k{{ group_name.capitalize() }}OK = 0;
{% for enum_name, enum_id in group_data.items() %}
  k{{ enum_name }} = {{ enum_id }};
{% endfor %}
};
