*.swp
bazel-*
compile_commands.json
*.exe
*.ilk
*.pdb
*.obj
*.tlog
*.idb
*.recipe
*.stamp
*.suo
*.db*
*.user
*.zip
*.lib
*.json
*.exp
*.pyc
*.dll
*CMakeLists.txt
common/src/pbc_lua/*
pbc/src/*
output/
x64/
.vs/
common/src/game_config/proto/*.proto
bin/config/xlwt/
bin/config/xlrd/
bin/config/proto
bin/config/cpp/
bin/zlib*
common/src/game_config/
bin/config/
proto/md5/
proto/generator/.idea/
proto/generator/bin/
common/src/pb/pb2sol2/
build/
Cmake/
.vscode/
cmake-build-debug*/
.idea/