[submodule "third_party/entt"]
	path = third_party/entt
	url = https://github.com/skypjack/entt.git
	branch = v3.13.x
[submodule "third_party/sol2"]
	path = third_party/sol2
	url = https://github.com/ThePhD/sol2.git
	branch = main
[submodule "third_party/redis"]
	path = third_party/redis
	url = https://github.com/redis/redis.git
	branch = 8.2
[submodule "third_party/muduo-linux"]
	path = third_party/muduo-linux
	url = https://github.com/chenshuo/muduo.git
[submodule "third_party/recastnavigation"]
	path = third_party/recastnavigation
	url = https://github.com/recastnavigation/recastnavigation.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "third_party/ue5navmesh"]
	path = third_party/ue5navmesh
	url = https://github.com/luyuancpp/ue5navmesh.git
[submodule "pkg/muduo_windows/src"]
	path = pkg/muduo_windows/src
	url = https://github.com/luyuancpp/muduo-cross-platform.git
	ignore = dirty
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git
	branch = master
	ignore = dirty
[submodule "third_party/hexagons_grids"]
	path = third_party/hexagons_grids
	url = https://github.com/luyuancpp/game_hexagons_grids.git
[submodule "third_party/exprtk"]
	path = third_party/exprtk
	url = https://github.com/ArashPartow/exprtk.git
[submodule "third_party/yaml-cpp"]
	path = third_party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
	ignore = dirty
[submodule "third_party/boost"]
	path = third_party/boost
	url = https://github.com/luyuancpp/boost.git
	ignore = dirty
[submodule "third_party/grpc"]
	path = third_party/grpc
	url = https://github.com/grpc/grpc.git
	branch = v1.75.x
	ignore = dirty
[submodule "third_party/curl"]
	path = third_party/curl
	url = https://github.com/curl/curl.git
	ignore = dirty
[submodule "third_party/cppcodec"]
	path = third_party/cppcodec
	url = https://github.com/tplgy/cppcodec.git
[submodule "third_party/xxhash"]
	path = third_party/xxhash
	url = https://github.com/Cyan4973/xxHash.git
	branch = release
[submodule "third_party/librdkafka"]
	path = third_party/librdkafka
	url = https://github.com/confluentinc/librdkafka.git
	branch = master
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third_party/openssl"]
	path = third_party/openssl
	url = https://github.com/openssl/openssl.git
	branch = openssl-3.6
