*.swp
bazel-*
compile_commands.json
*.exe
*.ilk
*.pdb
*.obj
*.tlog
*.idb
*.recipe
*.stamp
*.suo
*.db*
*.hpp
third_party/boost/
third_party/muduo/
third_party/protobuf/
third_party/zlib/
output/
lib/
bin/
x64/
.vs/