#include "{{ .MessageName | ToLower }}_attribute_sync.h"
#include "scene/actor/components.h"
#include "scene/actor/attribute/dirt_mask_component.h"

void {{ .MessageName }}AttributeSyncSystem::Sync(entt::entity entity)
{
    auto& registry = tlsRegistryManager.actorRegistry;

    const auto& aoi = registry.get_or_emplace<AoiListComp>(entity);
    auto& dirty = registry.get_or_emplace<BaseAttributeDirtyMaskComp>(entity);

    {{ .CppClass }} syncMessage;

    const auto* reflection = syncMessage.GetReflection();
    const auto* descriptor = syncMessage.GetDescriptor();

    for (int i = 0; i < descriptor->field_count(); ++i)
    {
        const auto* field = descriptor->field(i);
        int fieldNumber = field->number();

        if (!dirty.dirtyMask.test(fieldNumber))
            continue;

        switch (fieldNumber)
        {
            {{- range .Fields }}
            case {{ $.CppClass }}::k{{ .CamelFieldName }}FieldNumber:
            {
                auto& comp = registry.get_or_emplace<{{ .CppComponent }}>(entity);
                syncMessage.mutable_{{ .FieldName }}()->CopyFrom(comp);
                break;
            }
            {{- end }}
        }
    }

    if (syncMessage.ByteSizeLong() == 0)
        return;

    BroadcastMessageToPlayers(ScenePlayerSyncSyncBaseAttributeMessageId,
                              syncMessage,
                              aoi.aoiList);

    syncMessage.Clear();
}
