#pragma once

{{- range .ForwardDeclarations }}
class {{ . }};
{{- end }}

class {{ .ClassName }}
{
public:
    static void Register();

    static void UnRegister();
{{- if .EventMessages }}

{{- end }}
{{- range .EventMessages }}
    static void {{ .Name }}Handler(const {{ .Name }}& event);
{{- if .IsLast }}
{{- else }}

{{- end }}
{{- end }}
};
