#include "{{ .HeaderFile }}"
#include "{{ .ProtoInclude }}"
#include "threading/dispatcher_manager.h"

{{ .GlobalUserCode }}
void {{ .ClassName }}::Register()
{
{{- range .EventMessages }}
    dispatcher.sink<{{ .Name }}>().connect<&{{ $.ClassName }}::{{ .Name }}Handler>();
{{- end }}
}

void {{ .ClassName }}::UnRegister()
{
{{- range .EventMessages }}
    dispatcher.sink<{{ .Name }}>().disconnect<&{{ $.ClassName }}::{{ .Name }}Handler>();
{{- end }}
}

{{- range .EventMessages }}
void {{ $.ClassName }}::{{ .Name }}Handler(const {{ .Name }}& event)
{
{{ index $.UserCodeBlocks .Signature }}
}
{{- if .IsLast }}
{{- else }}

{{- end }}
{{- end }}
