#pragma once
#include <cstdint>
#include <unordered_map>

const std::unordered_map<uint64_t, uint32_t> {{ sheet }}BitMap{
{%- for id_value, index in id_to_index.items() %}
    { {{ id_value }}, {{ index }} },
{%- endfor %}
};

constexpr uint32_t k{{ sheet }}MaxBitIndex = {{ max_bit_index }};
