syntax = "proto3";

option go_package = "generated/pb/table";

{% for sheet_name, data in workbook_data.items() %}
message {{ sheet_name }} {
  {% for key, value in data.items() %}
  {{ value['type'] }} {{ key }} = {{ loop.index }};
  {% endfor %}
}

{% endfor %}
