# IDE metadata
.idea/
**/.idea/

# Temporary generation outputs
generated/
**/temp/

# Local logs and debug outputs from tool runs
proto_generator/protogen/*.txt
proto_generator/protogen/*.log

# Local binary/tool drops
proto/zlibd.dll
proto_generator/grpc_cpp_plugin.exe
proto_generator/protogen/*.exe
proto_generator/protogen/*.dll
proto/protogen/*.exe
proto/protogen/*.dll
